.yui3-gallery-dp-timeline {
    z-index: 99;
    overflow: hidden;
}

.yui3-gallery-dp-timeline-event-container {
    position: relative;
    z-index: 30;
    padding-top: 0.25em;
}

.yui3-gallery-dp-timeline-day-container {
    position: relative;
    z-index: 20;
    height: 20px;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-background {
    position: absolute;
    z-index: 10;
    min-height: 400px;
    background-color: #EEEEEE;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-day {
    position: absolute;
    text-align: center;
    
    border: 1px solid #888888;
    background-color: #EEEEEE;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-day span {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-event {
    position: absolute;
    text-align: center;
}

.yui3-gallery-dp-timeline .yui3-gallery-dp-timeline-background-highlight {
    position: absolute;
    background-color: #FAFAF0;
    width: 100px;
    min-height: 400px;
}

