/* 
    Document   : gallery-dp-datatable-core
    Created on : May 5, 2011, 4:08:39 PM
    Author     : admin
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.yui3-skin-sam td.yui3-datatable-sortable div.yui3-datatable-liner {
   /* padding: 4px 20px; */
}